/**
 * Core List Block Styles
 */

@use "../../ui/mixins/mixins" as *;

.wp-block-list {
	max-width: var(--small-max-width);
	font-size: var(--P-Body-Text);
	color: var(--FAU-Col-FAU-Schwarz-100);
	font-weight: 400;
	line-height: 1.5;

	strong {
		font-weight: 700;
	}

	em {
		letter-spacing: var(--letter-spacing-small);
	}
}

ul.wp-block-list {
	list-style-type: none;
	padding-left: var(--Spacing-14x);

	.is-layout-flow & {

		@media screen and (max-width: 950px) {
			padding: 0 var(--Spacing-10x) 0 var(--Spacing-24x);
		}

		@include respond-to("x-small") {
			padding: 0 var(--Spacing-5x) 0 4.8rem;
		}
	}

	li {
		position: relative;
	}

	&:not(.list-icons) {

		li {
			margin-bottom: var(--Spacing-6x);

			&::before {
				content: "";
				position: absolute;
				background-color: var(--FAU-Col-FAU-Blau-100);
				width: var(--Spacing-8x);
				height: 0.125rem;
				left: calc(-1 * var(--Spacing-14x));
				top: var(--Spacing-3x);
			}
		}
	}
}

ol.wp-block-list {
	padding-left: var(--Spacing-6x);

	.is-layout-flow & {

		@media screen and (max-width: 950px) {
			padding: 0 var(--Spacing-10x) 0 var(--Spacing-16x);
		}

		@include respond-to("x-small") {
			padding: 0 var(--Spacing-5x) 0 var(--Spacing-12x);
		}
	}

	li {
		padding-left: var(--Spacing-8x);
		margin-bottom: var(--Spacing-4x);

		&::marker {
			color: var(--FAU-Col-FAU-Blau-100);
			font-size: var(--H-Heading-3);
			font-weight: 700;
		}
	}
}

ul.list-icons {
	list-style-type: none;
	padding-left: var(--Spacing-8x);

	.is-layout-flow & {

		@media screen and (max-width: 950px) {
			padding: 0 var(--Spacing-10x) 0 4.5rem;
		}

		@include respond-to("x-small") {
			padding: 0 var(--Spacing-5x) 0 var(--Spacing-14x);
		}
	}

	li {
		position: relative;
		padding-left: var(--Spacing-6x);
		margin-bottom: var(--Spacing-6x);


		&::before {
			content: "";
			background-image: var(--icon-arrow-fau-blau);
			background-repeat: no-repeat;
			position: absolute;
			width: 1.375rem;
			height: 0.9375rem;
			left: calc(-1 * var(--Spacing-8x));
			top: 0.3125rem;
		}
	}
}

.is-style-dark {

	ul.wp-block-list,
	ol.wp-block-list,
	ol.wp-block-list li::marker {
		color: var(--FAU-Col-FAU-Weiss-100);
	}

	ul.wp-block-list:not(.list-icons) li::before {
		background-color: var(--FAU-Col-FAU-Weiss-100);
	}

	ul.list-icons li::before {
		background-image: var(--icon-arrow-weiss);
	}
}

// Responsive
@include respond-to("small") {

	.wp-block-list {
		font-size: 1rem;
	}
}
