@use "../../ui/mixins/mixins" as *;

.site-footer {

	.footer-content--instance {
		padding: var(--Spacing-12x) var(--Spacing-10x) var(--Spacing-16x) var(--Spacing-10x);

		.footer-content--instance-wrapper {
			max-width: var(--wide-max-width);
			margin: 0 auto;
		}

		h1 {
			margin-top: 0;
			font-size: 1.5rem;
		}

		h2 {
			font-size: 1.125rem;
			margin: 0;
			padding-bottom: 1rem;
		}

		h1,
		h2,
		p,
		address,
		a {
			color: var(--FAU-Col-FAU-Weiss-100);
		}

		p {
			margin: 0;
		}

		ul {
			padding-left: unset; // no ul padding
		}

		.footer-instance-header {
			padding-bottom: var(--Spacing-14x);

			.instance-info p {
				max-width: 66%;
			}
		}

		.footer-instance-contact {
			display: flex;

			.contact-address {
				flex-basis: 33%;

				&:has(address) {
					flex-basis: 66%;
				}

				.contact-address-and-tel-container {
					display: flex;
					gap: var(--Spacing-8x);

					address {
						flex-basis: 50%;
						font-style: unset;
						font-size: 1rem;
						font-weight: 400;
						line-height: 1.5;
					}

					> div p {
						font-size: 1rem;

						&:last-child {
							margin-top: var(--Spacing-5x);
						}
					}

					&:has(address) > div {
						flex-basis: 50%;
					}
				}
			}

			.footer-important-links {
				flex-basis: 33%;

				.important-links-list {
					display: flex;
					flex-direction: column;
					gap: var(--Spacing-3x);
					margin: 0;
					list-style: none;

					li {

						a {
							font-size: 1rem;
							line-height: 1.5;
							font-weight: 400;
							text-decoration: none;
						}

						&::before {
							display: none; // no list style
						}
					}
				}
			}
		}

		.footer-instance-contact {
			padding-bottom: var(--Spacing-12x);
		}

		.footer-instance-menu {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.footer-menu-list {
				display: flex;
				gap: var(--Spacing-6x);
				flex-wrap: wrap;
				padding-left: unset; // no ul padding
				margin: 0;
				list-style: none;

				a {
					color: var(--FAU-Col-FAU-Weiss-100);
					font-size: 1rem;
					line-height: 1.5;
					font-weight: 400;
					text-decoration: none;
				}

				li {
					flex-shrink: 0;

					&::before {
						display: none; // no list style
					}
				}
			}
		}
	}

	.footer-bottom {
		padding: var(--Spacing-8x) var(--Spacing-10x);

		.footer-controls {
			display: flex;
			justify-content: space-between;
			padding-bottom: var(--Spacing-10x);
		}

		.footer-credits p {
			color: var(--FAU-Col-FAU-Weiss-100);
			font-size: 1rem;
			margin: 0;
		}

		.fau-info-toggle {
			position: relative;
			background: #04316a;
			border: 0;
			padding: 20px 1.5rem;
			color: var(--FAU-Col-FAU-Weiss-100);
			font-size: 1rem;
			font-weight: 600;
			line-height: 1;
			letter-spacing: var(--letter-spacing-big);
			margin-right: 56px;
			cursor: pointer;

			&::before {
				content: "";
				background-color: white;
				width: 56px;
				height: 56px;
				position: absolute;
				right: -56px;
				top: 0;
			}

			&::after {
				content: "";
				background-image: var(--icon-chevron-fau-blau);
				background-repeat: no-repeat;
				transform: rotate(90deg);
				position: absolute;
				right: -32px;
				top: 22px;
				width: 8px;
				height: 14px;
				transition: var(--basic-animation);
			}

			&:hover,
			&:focus-visible {

				&::after {
					top: 26px;
				}
			}

			&[aria-expanded="true"] {

				&::after {
					transform: rotate(-90deg);
					transition: var(--basic-animation);
				}
			}
		}

		// adapted visuals for claim and target groups only for instance (faculty)
		#fau-info-section {

			.fau-claim {
				display: flex;
				bottom: unset;
				max-width: unset;
				padding: unset;

				h2 {
					display: none;
				}

				p {
					flex-basis: 66%;
					padding-bottom: var(--Spacing-10x);
					font-size: 1rem;
				}
			}

			.target-groups {
				padding-bottom: var(--Spacing-10x);
			}
		}
	}
}

// Responsive
@media screen and (max-width: 999px) {

	.site-footer .footer-content--instance {
		padding: var(--Spacing-8x) var(--Spacing-10x) var(--Spacing-12x) var(--Spacing-10x);
	}
}

@media screen and (max-width: 899px) {

	.site-footer {

		.footer-content--instance .footer-instance-menu {
			flex-direction: column;
			align-items: flex-start;
			gap: var(--Spacing-10x);
		}

		.social-links {
			justify-content: flex-start;
		}
	}
}

@include respond-to("small") {

	.site-footer {

		.footer-content--instance {

			.footer-instance-contact {
				flex-wrap: wrap;

				.footer-important-links {

					.important-links-list {
						flex-direction: row;
						gap: var(--Spacing-6x);
						flex-wrap: wrap;
					}
				}

				.contact-address,
				.contact-address:has(address),
				.footer-important-links {
					flex-basis: 100%;
				}
			}

			.footer-instance-header,
			.contact-address {
				padding-bottom: var(--Spacing-10x);
			}

			.footer-instance-header .instance-info p {
				max-width: unset;
			}
		}

		.footer-bottom {

			.footer-controls {
				flex-direction: column;
				padding-bottom: var(--Spacing-8x);

				.toggle-container {
					margin-top: var(--Spacing-5x);
				}
			}

			#fau-info-section .fau-claim p {
				flex-basis: unset;
			}
		}
	}
}

@media screen and (max-width: 599px) {

	.site-footer .footer-content--instance .footer-instance-contact .contact-address .contact-address-and-tel-container {
		flex-direction: column;

		address,
		> div {
			flex-basis: unset;
		}
	}
}

@include respond-to("x-small") {

	.site-footer {

		.footer-content--instance {
			padding: var(--Spacing-8x) var(--Spacing-5x);

			.footer-instance-contact .footer-important-links .important-links-list {
				flex-direction: column;
				gap: var(--Spacing-3x);
			}
		}

		.footer-bottom {
			padding: var(--Spacing-6x) var(--Spacing-5x);
		}
	}
}
