// TODO: This is only a placeholder.
.wp-block-fau-elemental-fau-meta-headline {
	color: red; 
	margin-left: 20px;

	&::before {
		display: inline-block;
		content: "";
		width: 20px;
		height: 2px;
		background-color: red;
	}
}
