/**
 * Core Heading Block Styles
 */

.wp-block-heading {
	max-width: var(--small-max-width);
}

h2,
h3,
h4,
h5,
h6 {
	color: var(--FAU-Col-FAU-Blau-100);
	letter-spacing: var(--letter-spacing-big);
	font-weight: 700;
}

h2 {
	font-size: var(--H-Heading-2);
	line-height: 1.3;
}

h3 {
	font-size: var(--H-Heading-3);
	line-height: 1.3;
}

h4 {
	font-size: var(--H-Heading-4);
	line-height: 1.3;
}

h5 {
	font-size: var(--H-Heading-5);
	line-height: 1.2;
}

h6 {
	font-size: var(--H-Heading-6);
	line-height: 1.2;
}

.is-style-dark {

	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--FAU-Col-FAU-Weiss-100);
	}
}

// Responsive
@include respond-to("small") {

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.375rem;
	}
}
