@use "../../ui/mixins/mixins" as *;

.wp-block-quote {
	max-width: var(--base-max-width);
	padding: 0 var(--Spacing-10x);

	blockquote {
		font-size: 1.5rem;
		color: var(--FAU-Col-FAU-Blau-100);
		line-height: 1.5;
		font-weight: 700;
		font-style: italic;
		margin: 0;
	}

	cite {
		font-size: var(--P-Body-Text);
		color: var(--FAU-Col-FAU-Schwarz-100);
		line-height: 1.5;
		font-weight: 400;
		font-style: normal;
	}
}

