/**
 * Core List Block Styles
 */

@import "../../mixins";

.wp-block-list {
	max-width: var(--small-max-width);
	font-size: var(--P-Body-Text);
	color: var(--FAU-Col-FAU-Schwarz-100);
	font-weight: 400;
	line-height: 1.5;
	hyphens: auto;
	overflow-wrap: break-word;
	word-break: break-word;

	strong {
		font-weight: 700;
	}

	em {
		letter-spacing: var(--letter-spacing-small);
	}
}

ul.wp-block-list {
	list-style-type: none;
	padding-left: var(--Spacing-14x);

	li {
		position: relative;
	}

	&:not(.list-icons) {

		li {

			&::before {
				content: "";
				position: absolute;
				background-color: var(--FAU-Col-FAU-Blau-100);
				width: var(--Spacing-8x);
				height: 2px;
				left: calc(-1 * var(--Spacing-14x));
				top: var(--Spacing-3x);
			}
		}
	}
}

ol.wp-block-list {
	padding-left: var(--Spacing-6x);

	li {
		padding-left: var(--Spacing-8x);

		&::marker {
			color: var(--FAU-Col-FAU-Blau-100);
			font-size: var(--H-Heading-3);
			font-weight: 700;
		}
	}
}

ul.list-icons {
	list-style-type: none;
	padding-left: var(--Spacing-8x);

	li {
		position: relative;
		padding-left: 24px;

		&::before {
			content: "";
			background-image: var(--icon-arrow-fau-blau);
			background-repeat: no-repeat;
			position: absolute;
			width: 22px;
			height: 15px;
			left: calc(-1 * var(--Spacing-8x));
			top: 5px;
		}
	}
}

.is-style-dark {

	ul.wp-block-list,
	ol.wp-block-list,
	ol.wp-block-list li::marker {
		color: var(--FAU-Col-FAU-Weiss-100);
	}

	ul.wp-block-list:not(.list-icons) li::before {
		background-color: var(--FAU-Col-FAU-Weiss-100);
	}

	ul.list-icons li::before {
		background-image: var(--icon-arrow-weiss);
	}
}

// Responsive
@include respond-to("small") {

	.wp-block-list {
		font-size: 1rem;
	}
}
