/**
 * Core Table Styles
 */

.wp-block-table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	font-size: var(--P-Caption);
	color: var(--FAU-Col-FAU-Schwarz-90);
	background-color: var(--FAU-Col-FAU-Weiss-100);
	margin: 0;

	table {
		width: 100%;
		background-color: var(--FAU-Col-FAU-Weiss-100);
	}

	figure.wp-block-table {
		margin-bottom: var(--Spacing-12x);

		figcaption {
			margin-top: var(--Spacing-2x);
		}

		&.footer-active tbody {
			border-bottom: none; // Hide bottom border when tfoot is toggled on
		}
	}

	// Cell styles
	td,
	th {
		background-color: inherit;
		border: none;
		padding: var(--Spacing-2x);
		vertical-align: top;
		line-height: 1.5;
		font-weight: 400;
	}

	// Header
	thead {
		position: relative;
		border: 1px solid var(--FAU-Col-FAU-Blau-100);

		th {
			background-color: var(--FAU-Col-FAU-Blau-100);
			color: var(--FAU-Col-FAU-Weiss-100);
			font-weight: 400;
			text-align: left;
			padding: var(--Spacing-3x) var(--Spacing-2x);

			&:last-child {
				border-right: none;
			}
		}
	}

	// Body
	tbody {
		border: 1px solid var(--FAU-Col-FAU-Schwarz-25);

		tr {
			background-color: var(--FAU-Col-FAU-Weiss-100);

			// First column styling
			td:first-child {
				color: var(--FAU-Col-FAU-Blau-100);
				padding-right: var(--Spacing-4x);
				background-color: inherit;
				width: 170px;
				min-width: 170px;
			}

			// Value columns
			td {
				text-align: left;
				padding: var(--Spacing-2x);
				background-color: inherit;
				border-right: 1px solid var(--FAU-Col-FAU-Schwarz-25);
				min-width: 340px;

				&:last-child {
					border-right: none;
				}
			}

			// Alternating row colors
			&:nth-child(even) {
				background-color: var(--FAU-Col-FAU-Schwarz-12_5);

				td {
					border-right-color: var(--FAU-Col-FAU-Schwarz-25);
				}
			}
		}
	}

	thead + tbody {

		tr {

			td {
				min-width: 120px; // smaller min width when there will be multiple columns
			}
		}
	}

	// Footer
	tfoot {
		border: 1px solid var(--FAU-Col-FAU-Schwarz-25);
		border-top: none;
		background-color: var(--FAU-Col-FAU-Schwarz-5);

		td {
			padding: var(--Spacing-2x);
			color: var(--FAU-Col-FAU-Schwarz-62_5);
			border-right: 1px solid var(--FAU-Col-FAU-Schwarz-25);
		}

		tr {
			background: none;
			border: none;
		}
	}

	// Special characters and units
	.unit,
	.subscript {
		color: var(--FAU-Col-FAU-Dunkelblau-50);
	}

	// Superscript and subscript styles
	sup,
	sub {
		font-size: 0.75em;
		line-height: 0;
		position: relative;
	}

	sup {
		vertical-align: super;
	}

	sub {
		vertical-align: sub;
	}

	// Special case for numerical values in parentheses
	.parenthetical {
		color: var(--FAU-Col-FAU-Dunkelblau-50);
	}
}

// Dark mode
.is-style-dark {

	.wp-block-table {
		background-color: var(--FAU-Col-FAU-Blau-100);
		color: var(--FAU-Col-FAU-Weiss-100);

		.wp-block-table__heading {
			background-color: var(--FAU-Col-FAU-Blau-100);
			color: var(--FAU-Col-FAU-Weiss-100);
		}

		figcaption {
			color: var(--FAU-Col-FAU-Weiss-100);
		}

		thead {
			border: 1px solid var(--FAU-Col-FAU-Weiss-100);
		}

		tbody {
			border: 1px solid var(--FAU-Col-FAU-Dunkelblau-62_5);

			tr {
				background-color: var(--FAU-Col-FAU-Blau-100);

				td {
					border-right: 1px solid var(--FAU-Col-FAU-Dunkelblau-62_5);

					&:first-child {
						color: var(--FAU-Col-FAU-Blau-12_5);
					}
				}

				&:nth-child(even) {
					background-color: var(--FAU-Col-FAU-Dunkelblau-100);

					td {
						border-right-color: var(--FAU-Col-FAU-Dunkelblau-62_5);
					}
				}
			}
		}

		tfoot {
			border: 1px solid var(--FAU-Col-FAU-Dunkelblau-62_5);
			border-top: none;
		}

		thead th {
			background-color: var(--FAU-Col-FAU-Weiss-100);
			color: var(--FAU-Col-FAU-Blau-100);
			border-right: 1px solid var(--FAU-Col-FAU-Dunkelblau-37_5);

			&:last-child {
				border-right: none;
			}
		}

		tfoot td {
			background-color: #11294c;
			color: var(--FAU-Col-FAU-Schwarz-12_5);
			border-right: 1px solid var(--FAU-Col-FAU-Dunkelblau-62_5);

			&:last-child {
				border-right: none;
			}
		}
	}
}

.footer-active .wp-block-table tbody{
	border-bottom: none; // Hide bottom border when tfoot is toggled on for editor
 }