// When an media-text block is selected, hide the following:
.faue-is-media-text-block-selected{

    button[aria-label="Change vertical alignment"],
	button[aria-label="Link"] {
		display: none;
	}
	// In the block inspector, hide Settings panel except Advanced
	.block-editor-block-inspector {
		// Hide only the first Tools Panel (Settings)
		.components-tools-panel:first-of-type {
			display: none;
		}

		// Show the Advanced panel
		.block-editor-block-inspector__advanced {
			display: block;
		}
	}
}
