@import "../../mixins";

.wp-block-media-text {
    gap: var(--Spacing-8x);

    .wp-block-media-text__content {
        padding: 0;
    }
}

// Responsive
@include respond-to("small") {
    .wp-block-media-text {
        gap: var(--Spacing-4x);
    }
}

@media screen and (max-width: 600px) {
    // Change order of media and text
    .wp-block-media-text.has-media-on-the-right.is-stacked-on-mobile {
        > .wp-block-media-text__content  {
            grid-row: 1;
        }
    }
    
    .wp-block-media-text.has-media-on-the-right.is-stacked-on-mobile {
        > .wp-block-media-text__media {
            grid-row: 2;
        }
    }
}