/**
 * Core Separator Block Styles
 */

@use "../../ui/mixins/mixins" as *;

.wp-block-separator {
	position: relative;
	margin-top: var(--Spacing-4x);
	margin-bottom: var(--Spacing-4x);
	height: 0.0625rem;
	background-color: var(--FAU-Col-FAU-Blau-25);
	border: none;

}

// Dark Mode
.is-style-dark .wp-block-separator {
	background-color: var(--FAU-Col-FAU-Blau-62_5);
}
