/**
 * Core Separator Block Styles
 */

.wp-block-separator {
	position: relative;
	max-width: var(--wide-max-width);
	margin: var(--Spacing-4x) auto !important;
	width: 100%;
	height: 1px;
	background-color: var(--FAU-Col-FAU-Blau-25);
	border: none;

	.is-style-dark & {
		background-color: var(--FAU-Col-FAU-Blau-62_5);
	}
}
