.slide-counter {
	pointer-events: none;
}

.gallery-nav-container {
	top: 344.664px;

	.is-tablet-preview & {
		top: 547px;
	}
}

.wp-block-gallery-container {

	.is-mobile-preview & {
		display: flex;
		flex-direction: column;

		.wp-block-gallery {
			margin-bottom: 0;
		}

		.gallery-nav-container {
			position: static;
			margin-top: -45px;
			margin-bottom: 1em;
		}
	}


}

.wp-block-gallery {

	&:not(.has-child-selected) {

		.wp-block-image {

			&:not(:first-child) {
				display: none !important;
			}
		}
	}

	&.has-child-selected {

		.wp-block-image {

			&:not(.is-selected) {
				display: none !important;
			}
		}
	}
}

