@use "../../ui/mixins/mixins" as *;

/**
 * Core Paragraph Block Styles
 */

p {
	max-width: var(--small-max-width);
	font-size: var(--P-Body-Text);
	color: var(--FAU-Col-FAU-Schwarz-100);
	font-weight: 400;
	line-height: 1.5;

	.is-layout-flow > &,
	.is-layout-constrained > & {
		padding: 0 var(--Spacing-10x);

		@include respond-to("xs") {
			padding: 0 var(--Spacing-5x);
		}
	}

	strong {
		font-weight: 700;
	}

	em {
		letter-spacing: var(--letter-spacing-small);
	}
}

.is-style-intro-text {
	font-size: var(--P-Intro-Text);
	font-weight: 600;
	line-height: 1.6;
}

.is-style-small-text {
	font-size: var(--P-Body-Text-Small);
	letter-spacing: var(--letter-spacing-small);
}

a {
	position: relative;
	color: var(--FAU-Col-FAU-Blau-100);
	text-underline-offset: var(--Spacing-1x);
	text-decoration-thickness: var(--Spacing-05x);
	font-weight: 600;
	transition: all 0.2s ease-in-out;

	&:hover,
	&:focus {
		text-decoration-thickness: var(--Spacing-1x);
		transition: all 0.2s ease-in-out;
	}

	&[target="_blank"] {

		&::before {
			content: "";
			background-image: var(--icon-external-link-fau-blau);
			background-repeat: no-repeat;
			position: absolute;
			height: 16px;
			width: 16px;
			right: calc(-1 * var(--Spacing-6x));
			top: 6px;

			.is-style-small-text & {
				height: 13px;
				width: 13px;
				right: calc(-1 * var(--Spacing-5x));
				top: 5px;
			}

			.is-style-dark & {
				background-image: var(--icon-external-link-weiss);
			}
		}
	}
}

figcaption {
	font-size: var(--P-Caption);
	letter-spacing: var(--letter-spacing-small);
	line-height: 1.5;
	font-weight: 400;
}

// Dark mode
.is-style-dark {

	p,
	a,
	figcaption {
		color: var(--FAU-Col-FAU-Weiss-100);
	}
}

// Responsive
@include respond-to("small") {

	p {
		font-size: 1rem;
	}

	.is-style-intro-text {
		font-size: 1.15rem;
	}

	.is-style-small-text {
		font-size: 0.9rem;
	}
}
