.wp-block-fau-elemental-fau-list-item {
    .fau-teaser-grid {
        display: grid;
        gap: var(--Spacing-8x);

        // Global styles
        &.list-item,
        &.mini-list,
        &.layout-1xl,
        &.layout-2l,
        &.layout-l2s,
        &.layout-2sl,
        &.layout-3m,
        &.layout-2s-left,
        &.layout-2s-right {
            grid-template-columns: repeat(3, 1fr);

            .teaser-item {
                display: flex;
                flex-direction: column;
                align-items: center;

                .teaser-image-wrapper {
                    position: relative;
                    width: 100%;

                    .teaser-image {
                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            aspect-ratio: 3/2;
                        }
                    }

                    .teaser-meta {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 88px;
                        width: 88px;
                        z-index: 1;
                        background: var(--FAU-Col-FAU-Dunkelblau-100);
                        color: var(--FAU-Col-FAU-Weiss-100);
                        font-size: 0.875rem;
                        text-align: center;
                        line-height: 1.3;

                        time {
                            position: absolute;
                            top: 11px;

                            .date-day {
                                display: block;
                                font-size: 2rem;
                                letter-spacing: var(--letter-spacing-big);
                                font-weight: 700;
                            }
                            
                            .date-month-year {
                                display: block;
                                font-size: 1rem;
                            }
                        }
                    }
                }

                .teaser-content-wrapper {
                    position: relative;
                    width: 90%;
                    bottom: 40px;

                    .teaser-content {
                        display: flex;
                        justify-content: space-between;
                        gap: var(--Spacing-6x);
                        background-color: var(--FAU-Col-FAU-Weiss-100);
                        padding: var(--Spacing-4x) 0 var(--Spacing-4x) var(--Spacing-6x);

                        .content-column {
                            color: var(--FAU-Col-FAU-Schwarz-90);

                            > span {
                                display: block;
                                font-size: 0.875rem;
                                font-weight: 600;
                                letter-spacing: 0.05rem;
                            }

                            h4 {
                                margin: var(--Spacing-3x) 0;
                                letter-spacing: var(--letter-spacing-big);
                            }

                            p {
                                font-size: 1rem;
                                margin: 0;
                            }
                        }

                        .button-teaser {
                            align-self: center;

                            a {
                                display: block;
                                width: 40px;
                                height: 40px;
                                padding: 0;
                                background-color: var(--FAU-Col-FAU-Blau-100);

                                &::before {
                                    content: "";
                                    background-image: var(--icon-arrow-weiss);
                                    background-repeat: no-repeat;
                                    position: absolute;
                                    top: 14px;
                                    left: 13px;
                                    width: 16px;
                                    height: 12px;
                                    transition: all 0.2s ease-in-out;
                                }
                            }
                        }
                    }
                }
            }

            // Remove top-margin for page headlines
            &[data-variant="page"] .teaser-item .teaser-content-wrapper .teaser-content .content-column h4 {
                margin-top: 0;
            }
        }

        // Mini list, Layout-l2s and Layout 2sl specific styles
        &.mini-list,
        &.layout-l2s,
        &.layout-2sl {
            grid-template-rows: min-content 1fr;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
            "s a" 
            "s b";

            .teaser-item {
                .teaser-content-wrapper .teaser-content {
                    padding: var(--Spacing-6x) 0 var(--Spacing-6x) var(--Spacing-6x);
                }
                
                &:nth-child(1) {
                    grid-area: s;

                    .teaser-image-wrapper .teaser-meta {
                        height: 113px;
                        width: 113px;

                        time {
                            .date-day {
                                font-size: 3rem;
                            }

                            .date-month-year {
                                font-size: 1.15rem;;
                            }
                        }
                        
                    }

                    .teaser-content-wrapper .teaser-content .content-column h4 {
                        font-size: 1.5rem;
                    }
                }

                &:nth-child(2) {
                    grid-area: a;
                    flex-direction: row;
                    align-self: flex-start;

                    .teaser-image-wrapper {
                        width: calc(100% + 80px);

                        .teaser-image img {
                            min-height: 250px;
                        }
                    }

                    .teaser-content-wrapper {
                        width: 100%;
                        bottom: unset;
                        left: -40px;

                        .teaser-content {
                            width: calc(100% + 40px);
                            box-sizing: border-box;

                            .content-column {
                                h4 {
                                    margin-bottom: 0;
                                }

                                .excerpt {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                &:nth-child(3) {
                    grid-area: b;
                    flex-direction: row-reverse;
                    align-self: flex-start;

                    .teaser-image-wrapper {
                        width: calc(100% + 80px);

                        .teaser-image img {
                            min-height: 250px;
                        }

                        .teaser-meta {
                            left: unset;
                            right: 0;
                        }
                    }

                    .teaser-content-wrapper {
                        width: 100%;
                        bottom: unset;

                        .teaser-content {
                            width: calc(100% + 2rem);
                            padding: var(--Spacing-4x) 0 var(--Spacing-4x) var(--Spacing-4x);

                            .content-column {
                                h4 {
                                    margin-bottom: 0;
                                }

                                .excerpt {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        // Mini-list, Layout 2sl and Layout l2s specific styles
        &.mini-list,
        &.layout-2sl,
        &.layout-l2s {
            &[data-variant="page"] .teaser-item {
                &:nth-child(2),
                &:nth-child(3) {
                    .teaser-content-wrapper .teaser-content .content-column {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
        
        // Layout 1xl specific styles
        &.layout-1xl {
            grid-template-columns: 1fr;

            .teaser-item {
                flex-direction: row;

                .teaser-image-wrapper .teaser-meta {
                    height: 113px;
                    width: 113px;

                    time {
                        .date-day {
                            font-size: 3rem;
                        }

                        .date-month-year {
                            font-size: 1.15rem;;
                        }
                    }
                    
                }

                .teaser-content-wrapper {
                    bottom: unset;
                    left: -80px;

                    .teaser-content {
                        padding: var(--Spacing-6x) 0 var(--Spacing-6x) var(--Spacing-6x);

                        .content-column {
                            h4 {
                                font-size: 2rem;
                            }
                        }
                    }
                }
            }
        }

        // Layout 2l and Layout 2s Left specific styles
        &.layout-2l,
        &.layout-2s-left,
        &.layout-2s-right {
            grid-template-columns: repeat(2, 1fr);
        }

        // Layout 2sl specific styles
        &.layout-2sl {
            grid-template-areas:
            "a s" 
            "b s";
        }

        // Layout 2s Left and 2s Right specific styles
        &.layout-2s-left,
        &.layout-2s-right {
            .teaser-item {
                flex-direction: row;

                .teaser-content-wrapper {
                    bottom: unset;
                    left: -40px;

                    .teaser-content {
                        width: calc(100% + 40px);
                        padding-right: 0;
                        box-sizing: border-box;
                    }
                }
            }

            &[data-variant="post"] .teaser-item .teaser-content-wrapper .teaser-content .content-column {
                h4 {
                    margin-bottom: 0;
                }

                .excerpt {
                    display: none;
                }
            }
        }

        // Layout 2s Right specific styles
        &.layout-2s-right {
            .teaser-item {
                flex-direction: row-reverse;

                .teaser-image-wrapper.teaser-meta {
                    left: unset;
                    right: 0;
                }

                .teaser-content-wrapper {
                    left: unset;
                }
            }
        }
    }

    // Shared utility
    .clamp-3 {
        position: relative;

        [aria-hidden="true"] {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }

    h4.clamp-3 [aria-hidden="true"],
    .excerpt.clamp-3 [aria-hidden="true"] {
        margin: 0;
    }
}

// Responsive
@media screen and (max-width: 1440px) {
    .wp-block-fau-elemental-fau-list-item .fau-teaser-grid {
        &.mini-list,
        &.layout-l2s,
        &.layout-2s-left,
        &.layout-2s-right {
            overflow: hidden; // Hide overflow because of using "calc" for width
        }
    }
}

@media screen and (max-width: 999px) {
    .wp-block-fau-elemental-fau-list-item {
        .fau-teaser-grid {
            gap: var(--Spacing-4x);

            &.list-item,
            &.layout-3m {
                grid-template-columns: repeat(2, 1fr);
            }

            &.mini-list,
            &.layout-l2s,
            &.layout-2sl {
                .teaser-item {
                    &:nth-child(2) {
                        .teaser-image-wrapper .teaser-image img {
                            min-height: 180px;
                        }
                    }

                    &:nth-child(3) {
                        flex-direction: row;

                        .teaser-image-wrapper {
                            .teaser-image img {
                                min-height: 180px;
                            }

                            .teaser-meta {
                                left: 0;
                                right: unset;
                            }
                        }

                        .teaser-content-wrapper {
                            left: -40px;

                            .teaser-content {
                                width: calc(100% + 40px);
                                padding-right: 0;
                                box-sizing: border-box;
                            }
                        }
                    }

                    &:nth-child(1) {
                        .teaser-image-wrapper .teaser-meta {
                            height: 80px;
                            width: 80px;

                            time {
                                .date-day {
                                    font-size: 1.5rem;
                                }

                                .date-month-year {
                                    font-size: 1rem;
                                }
                            }
                        }
                    }

                    &:nth-child(2),
                    &:nth-child(3) {
                        .teaser-image-wrapper .teaser-meta {
                            height: 68px;
                            width: 68px;

                            time {
                                .date-day {
                                    font-size: 1.5rem;
                                }

                                .date-month-year {
                                    font-size: 0.875rem;
                                }
                            }
                        }
                    }

                    .teaser-content-wrapper .teaser-content {
                        padding: var(--Spacing-4x) 0 var(--Spacing-4x) var(--Spacing-4x);
                    }
                }
            }

            &.layout-1xl {
                .teaser-item {
                    .teaser-image-wrapper .teaser-meta {
                        height: 80px;
                        width: 80px;

                        time {
                            .date-day {
                                font-size: 1.5rem;
                            }

                            .date-month-year {
                                font-size: 1rem;
                            }
                        }
                    }

                    .teaser-content-wrapper {
                        .teaser-content {
                            padding: var(--Spacing-4x) 0 var(--Spacing-4x) var(--Spacing-4x);

                            .content-column {
                                .clamp-3 [aria-hidden="true"] {
                                    -webkit-line-clamp: 2;
                                }

                                h4 {
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                }
            }

            &.layout-2l {
                .teaser-item {
                    .teaser-image-wrapper .teaser-meta {
                        height: 80px;
                        width: 80px;
    
                        time {
                            .date-day {
                                font-size: 1.5rem;
                            }
    
                            .date-month-year {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }

            &.layout-2s-left,
            &.layout-2s-right {
                .teaser-item {
                    .teaser-image-wrapper {
                        .teaser-meta {
                            height: 68px;
                            width: 68px;

                            time {
                                .date-day {
                                    font-size: 1.5rem;
                                }

                                .date-month-year {
                                    font-size: 0.875rem;
                                }
                            }
                        }
                    }

                    .teaser-content-wrapper {
                        .teaser-content {
                            padding: var(--Spacing-4x) 0 var(--Spacing-4x) var(--Spacing-4x);

                            .content-column .clamp-3 [aria-hidden="true"] {
                                -webkit-line-clamp: 2;
                            }
                        }
                    }
                }
            }

            &.layout-2s-right {
                .teaser-item {
                    flex-direction: row;

                    .teaser-image-wrapper .teaser-meta {
                        left: 0;
                        right: unset;
                    }

                    .teaser-content-wrapper {
                        left: -40px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .wp-block-fau-elemental-fau-list-item {
        .fau-teaser-grid {
            overflow: hidden;

            &.list-item,
            &.layout-3m {
                grid-template-columns: 1fr;

                .teaser-item {
                    flex-direction: row;

                    .teaser-image-wrapper {
                        .teaser-image {
                            height: 150px;
                            min-width: 150px;
                        }

                        .teaser-meta {
                            width: 68px;
                            height: 68px;

                            time {
                                top: 8px;

                                .date-day {
                                    font-size: 1.5rem;
                                }

                                .date-month-year {
                                    font-size: 0.875rem;
                                }
                            }
                        }
                    }

                    .teaser-content-wrapper {
                        width: 100%;
                        bottom: unset;
                        left: -40px;

                        .teaser-content {
                            width: calc(100% + 40px);
                            padding: var(--Spacing-4x) var(--Spacing-4x);
                            padding-right: 0;
                            box-sizing: border-box;

                            .content-column {
                                h4 {
                                    font-size: 1rem;
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }

                    // Display pages
                    &.page-teaser .teaser-content-wrapper .teaser-content .content-column h4 {
                        font-size: 1.15rem;
                    }
                }

                .excerpt {
                    display: none;
                }

                &[data-variant="page"] .teaser-item .teaser-content-wrapper .teaser-content .content-column {
                    display: flex;
                    align-items: center;
                }
            }

            &.mini-list,
            &.layout-l2s,
            &.layout-2sl {
                grid-template-rows: 1fr;
                grid-template-columns: 1fr;
                grid-template-areas:
                "s" 
                "a" 
                "b";
            }

            &.layout-1xl {
                position: relative;
                width: calc(100% + 32px);
                left: -16px;

                .teaser-item {
                    flex-direction: column;

                    .teaser-content-wrapper {
                        left: unset;
                        bottom: 40px;

                        .teaser-content .content-column .clamp-3 [aria-hidden="true"] {
                            -webkit-line-clamp: 3;
                        }
                    }
                }
            }

            &.layout-2l,
            &.layout-2s-left,
            &.layout-2s-right {
                grid-template-columns: 1fr;
            }

            &.layout-2s-left,
            &.layout-2s-right {
                .teaser-item .teaser-content-wrapper .teaser-content .content-column h4 {
                    font-size: 1rem;
                }
            }

            &.layout-2sl {
                grid-template-areas:
                "a" 
                "b"
                "s";
            }
        }
    }
}

// Dark mode
.is-style-dark {
    .wp-block-fau-elemental-fau-list-item .fau-teaser-grid .teaser-item .teaser-content-wrapper .teaser-content {
        background-color: var(--FAU-Col-FAU-Blau-100);

        .content-column {
            color: var(--FAU-Col-FAU-Weiss-100);
        }

        .button-teaser {
            a {
                background-color: var(--FAU-Col-FAU-Weiss-100);

                &::before {
                    background-image: var(--icon-arrow-fau-blau);
                }
            }
        }
    }
}