.big-buttons-faculties {

	> .wp-block-heading {
		max-width: var(--wide-max-width);
		margin-block-start: var(--Spacing-8x);
		margin-inline: auto;
	}

	> p {
		max-width: var(--wide-max-width);
		margin-block-start: var(--Spacing-4x);
		margin-inline: auto;
	}

	> .fau-big-button-teaser-group {
		margin-block-start: var(--Spacing-12x);
	}
}
