@use "../../ui/mixins/mixins" as *;

.block-editor-block-list__layout.is-root-container > .wp-block-file:where(:not(.alignleft):not(.alignright):not(.alignfull)) {
	max-width: var(--small-max-width);
}

// Editor view overrides
.editor-styles-wrapper {

	.wp-block-file {
		display: block;
		margin-bottom: 1.5rem;

		.wp-block-file__content-wrapper .wp-block-file {
			margin-bottom: var(--Spacing-4x);
			width: 100%;

			.wp-block-file__content-wrapper {
				border: none;
				padding: 0;

				.wp-element-button {
					right: -32px;
					top: calc(50% - 10px);
				}
			}

			.file-info-wrapper {

				.file-info-list {
					display: flex;
					flex-direction: row;
					gap: 10px;
					margin: 0;
					padding: 0;
					list-style: none;

					.file-info-item {
						display: flex;
						flex-direction: row;
						gap: 5px;
						align-items: center;

						.file-info-term {
							display: none;
						}

						.file-info-definition {
							margin: 0;
							font-size: 1rem;
						}
					}

					@include respond-to("small") {
						flex-direction: column;
						gap: 5px;
						padding-right: 40px;
					}
				}
			}

			a {
				font-size: 1.15rem;
			}
		}
	}
}
