.wp-block-quote-item {
	max-width: var(--base-max-width);
	margin: 0 auto;
	padding: 0 var(--Spacing-10x);

	blockquote {
		font-size: 1.5rem;
		color: var(--FAU-Col-FAU-Blau-100);
		line-height: 1.5;
		font-weight: 700;
		font-style: italic;
		margin: 0;
	}

	cite {
		font-size: var(--P-Body-Text);
		color: var(--FAU-Col-FAU-Schwarz-100);
		line-height: 1.5;
		font-weight: 400;
		font-style: normal;
	}

	.quote-content {
		display: flex;
		align-items: center;

		.quote-text {
			display: flex;
			flex-direction: column;
			gap: var(--Spacing-4x);
			box-sizing: border-box;
		}

		figure {
			margin: 0;

			img {
				display: block;
				height: 100%;
				aspect-ratio: 1;
				object-fit: cover;
				width: 350px;
			}
		}

		// Positioning when image is displayed
		figure + .quote-text {
			background-color: var(--FAU-Col-FAU-Weiss-100);
			margin-left: -80px;
			padding: var(--Spacing-6x);

			blockquote {
				max-width: 700px;
			}
		}
	}
}

// Multiple quotes
.quote-carousel {
	max-width: var(--base-max-width);
	padding: 0 var(--Spacing-10x);

	.carousel-container .wp-block-quote-item {
		max-width: unset;
		padding: unset;
	}

	.carousel-controls {
		display: flex;
		justify-content: center;
		gap: 40px;
		align-items: center;
		margin-top: var(--Spacing-12x);

		button {
			cursor: pointer;
		}

		.carousel-prev,
		.carousel-next {
			width: 40px;
			height: 40px;
			border: 1px solid var(--FAU-Col-FAU-Blau-100);
			background-color: unset;
			color: transparent;
			position: relative;
		}

		.carousel-prev {

			&::before {
				content: "";
				background-image: var(--icon-chevron-fau-blau);
				position: absolute;
				transform: rotate(180deg);
				width: 8px;
				height: 14px;
				left: 14px;
				transition: all 0.2s ease-in-out;
			}

			&:hover,
			&:focus-visible {

				&::before {
					transition: all 0.2s ease-in-out;
					left: 10px;
				}
			}
		}

		.carousel-next {

			&::before {
				content: "";
				background-image: var(--icon-chevron-fau-blau);
				position: absolute;
				width: 8px;
				height: 14px;
				right: 14px;
				transition: all 0.2s ease-in-out;
			}

			&:hover,
			&:focus-visible {

				&::before {
					transition: all 0.2s ease-in-out;
					right: 10px;
				}
			}
		}

		.carousel-dots {
			display: flex;
			gap: 20px;

			button {
				border: 0;
				height: 18px;
				width: 18px;
				background-color: var(--FAU-Col-FAU-Weiss-100);
				outline: 1px solid var(--FAU-Col-FAU-Blau-100);

				&.active,
				&:hover,
				&:focus-visible {
					background-color: var(--FAU-Col-FAU-Blau-100);
					border: 3px solid var(--FAU-Col-FAU-Weiss-100);
				}

				&:focus-visible {
					outline: 2px solid var(--FAU-Col-FAU-Blau-100);
				}
			}
		}
	}
}

// Dark mode
.wp-block-quote-item,
.quote-carousel {

	.is-style-dark & {

		blockquote,
		cite {
			color: var(--FAU-Col-FAU-Weiss-100);
		}

		.quote-content .quote-text {
			background-color: var(--FAU-Col-FAU-Blau-100);
		}

		.carousel-controls {

			.carousel-prev,
			.carousel-next {
				border: 1px solid var(--FAU-Col-FAU-Weiss-100);
				background-color: unset;

				&::before {
					background-image: var(--icon-chevron-weiss);
				}
			}

			.carousel-dots button {
				background-color: var(--FAU-Col-FAU-Blau-100);
				outline: 1px solid var(--FAU-Col-FAU-Weiss-100);

				&.active {
					border: 3px solid var(--FAU-Col-FAU-Blau-100);
					background-color: var(--FAU-Col-FAU-Weiss-100);
				}
			}
		}
	}
}

// Responsive
@include respond-to("medium") {

	.wp-block-quote-item {

		blockquote {
			font-size: 1.25rem;
		}

		.quote-content figure + .quote-text {
			margin-left: -110px;
		}
	}
}

@include respond-to("small") {

	.wp-block-quote-item {

		.quote-content {
			flex-direction: column;

			figure + .quote-text {
				margin-left: unset;
				margin-top: -120px;
				width: 90%;
				padding-bottom: 0;
			}

			figure img {
				width: 100%;
			}
		}
	}

	.quote-carousel .carousel-controls {
		margin-top: var(--Spacing-10x);
	}
}

@include respond-to("x-small") {

	.wp-block-quote-item,
	.quote-carousel {
		padding: 0;
	}

	.wp-block-quote-item .quote-content .quote-text {
		padding: 0 var(--Spacing-5x);
	}
}
