@use "../../ui/mixins/mixins" as *;

// Faculty color map
$faculty-colors: (
	"phil": var(--FAU-Col-Phil-Gelb-100),
	"nat": var(--FAU-Col-Nat-Gruen-100),
	"med": var(--FAU-Col-Med-Blau-100),
	"rw": var(--FAU-Col-RW-Rot-100),
	"tf": var(--FAU-Col-TF-Metallic-100)
);

// Heros for Faculties amd Others
.hero-faculty-other {
	min-height: 50rem;
	gap: 0;
	padding-inline: 0;

	@each $faculty, $color in $faculty-colors {
		.faculty-#{$faculty} & {
			background-color: $color;
		}
	}

	.wp-block-post-content > & {
		margin-inline: var(--faue_fullbleed_inline-margin);
	}

	.hero-faculty-content-wrapper.wp-block-column {
		position: absolute;
		left: 50%;
		width: 100%;
		transform: translateX(-50%);
		max-width: calc(1800px + 7.5rem);
		z-index: 1;

		.hero-faculty-content {
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
			min-height: 50rem;
			padding-bottom: 3rem;
			padding-left: 3.75rem;
			box-sizing: border-box;
		}

		h1 {
			position: relative;
			width: -moz-max-content;
			width: max-content;
			max-width: calc(50% + 8rem);
			min-width: 50%;
			padding: var(--Spacing-6x) var(--Spacing-6x) var(--Spacing-6x) 0;
			margin: var(--Spacing-10x) 0 0 0;
			font-size: var(--DI-Display-2);
			color: var(--FAU-Col-FAU-Dunkelblau-100);
			z-index: 1;

			@each $faculty, $color in $faculty-colors {
				.faculty-#{$faculty} & {
					background-color: $color;
				}

				.faculty-rw & {
					color: var(--FAU-Col-FAU-Weiss-100);
				}
			}
		}

		.hero-mobile-optional {
			margin: 0;
			max-width: 34rem;

			p {
				color: var(--FAU-Col-FAU-Dunkelblau-100);

				.faculty-rw & {
					color: var(--FAU-Col-FAU-Weiss-100);
				}
			}
		}

		.wp-block-buttons {

			a {
				color: var(--FAU-Col-FAU-Dunkelblau-100);

				.faculty-rw & {
					color: var(--FAU-Col-FAU-Weiss-100);
				}

				&::after {

					.faculty-rw & {
						background-image: var(--icon-arrow-weiss);
					}
				}
			}
		}

		* {
			max-width: unset;
			padding: unset;
		}
	}

	.wp-block-cover {
		max-width: unset;
		height: 100%;
	}
}

// Hero Other
.fauorg-sonstige .hero-faculty-other {
	background-color: var(--FAU-Col-FAU-Blau-100);

	.hero-faculty-content-wrapper {

		h1 {
			color: var(--FAU-Col-FAU-Weiss-100);
			background-color: var(--FAU-Col-FAU-Blau-100);
		}

		.hero-mobile-optional {

			p,
			.wp-block-buttons a {
				color: var(--FAU-Col-FAU-Weiss-100);
			}

			.wp-block-buttons a::after {
				background-image: var(--icon-arrow-weiss);
			}
		}
	}
}

// Responsive
@media screen and (max-width: 1250px) {

	.hero-faculty-other {
		flex-direction: column-reverse;
		gap: 0;
		min-height: unset;

		.hero-faculty-content-wrapper.wp-block-column {
			position: relative;
			transform: unset;
			left: unset;
			max-width: unset;

			@each $faculty, $color in $faculty-colors {
				.faculty-#{$faculty} & {
					background-color: $color;
				}
			}

			.hero-faculty-content {
				min-height: unset;
				padding: 0 3.75rem;
				position: relative;
				bottom: 2.5rem;

				h1 {
					width: 100%;
					min-width: unset;
					max-width: unset;
					margin: 0;
					padding: var(--Spacing-6x) var(--Spacing-6x) var(--Spacing-4x) var(--Spacing-6x);
					box-sizing: border-box;
					font-size: 2rem;
				}

				.hero-mobile-optional {
					max-width: 100%;
					padding: 0 var(--Spacing-6x);

					.wp-block-buttons {
						margin-top: var(--Spacing-4x);
					}
				}
			}
		}

		.hero-faculty-bg-left {
			display: none;
		}
	}
}

@include smaller-or-equals("small") {

	.hero-faculty-other .hero-faculty-content-wrapper.wp-block-column .hero-faculty-content {
		padding: 0 var(--Spacing-10x);
	}
}

@include smaller-or-equals("x-small") {

	.hero-faculty-other .hero-faculty-content-wrapper.wp-block-column .hero-faculty-content {
		padding: 0 var(--Spacing-5x);

		h1 {
			padding: var(--Spacing-4x);
		}

		.hero-mobile-optional {
			padding: 0 var(--Spacing-4x);
		}
	}
}
