@use "sass:map";

// Faculty color map
$faculty-colors: (
	"phil": var(--FAU-Col-Phil-Gelb-100),
	"nat": var(--FAU-Col-Nat-Gruen-100),
	"med": var(--FAU-Col-Med-Blau-100),
	"rw": var(--FAU-Col-RW-Rot-100),
	"tf": var(--FAU-Col-TF-Metallic-100)
);

.hero-faculty-other {
	min-height: 50rem;

	@each $faculty, $color in $faculty-colors {
		&.faculty-#{$faculty} {
			background-color: $color;
		}
	}

	.hero-faculty-left {
		display: flex;
		justify-content: end;
		flex-direction: column;
		padding: 3.75rem;

		h2 {
			font-size: var(--DI-Display-2);
		}

		.hero-mobile-optional {

			> * {
				padding: unset;
			}
		}
	}

	.wp-block-cover {
		max-width: unset;
		height: 100%;
	}
}
