.wp-block-tag-cloud {
	margin: 0 auto;

	a.tag-cloud-link {
		font-size: var(--P-Caption) !important; // override WP inline style
		font-weight: 600;
		padding: var(--Spacing-2x) var(--Spacing-3x);
		border: 1px solid var(--FAU-Col-FAU-Blau-100);
		color: var(--FAU-Col-FAU-Blau-100);
		border-radius: 2px;
		text-decoration: none;
		letter-spacing: var(--letter-spacing-big);
		margin-bottom: 8px;
		transition: transform 0.2s ease-in-out;

		&::before {
			content: "";
			position: absolute;
			display: block;
			width: calc(100% - var(--Spacing-6x));
			height: 2px;
			bottom: 6px;
			left: var(--Spacing-3x);
			background-color: var(--FAU-Col-FAU-Blau-100);
			transform: scaleX(0);
			transition: transform 0.2s ease-in-out;
		}

		&:hover,
		&:focus-visible {

			&::before {
				transform: scaleX(1);
			}
		}
	}
}

// Dark mode
.is-style-dark {

	.wp-block-tag-cloud {

		a.tag-cloud-link {
			border: 1px solid var(--FAU-Col-FAU-Weiss-100);
			color: var(--FAU-Col-FAU-Weiss-100);
		}
	}
}
