/**
 * Core Gallery Block - Editor Wrapper Styles - Hide Editor Features
 */

// When a gallery block is selected, hide the following:
.faue-is-gallery-block-selected {
	// Hide the second toolbar group
	.block-editor-block-toolbar > *:nth-child(2) {
		display: none;
	}

	// In the block inspector, hide Settings panel except Advanced
	.block-editor-block-inspector {

		.components-panel__body {
			// Hide the Settings panel
			&:nth-child(1) {
				display: none;
			}

			// Show the Advanced panel
			&.block-editor-block-inspector__advanced {
				display: block;
			}
		}
	}
}

.faue-is-gallery-parent-block-selected {

	// Hide Block Styles Panel for Images inside Gallery
	.block-editor-block-inspector > div:nth-child(2) {
		display: none;
	}

	.block-editor-block-switcher__styles__menugroup button.components-menu-item__button:nth-child(2) {
		display: none;
	}
}

