.wp-block-gallery-container {

	.is-mobile-preview & {
		display: flex;
		flex-direction: column;

		.wp-block-gallery {
			margin-bottom: 0;
		}

		.gallery-nav-container {
			position: static;
			margin-top: -45px;
			margin-bottom: 1em;
		}
	}

	>.gallery-nav-container {
		top: 344.664px;

		.is-tablet-preview & {
			top: 547px;
		}

		.gallery-nav-button {
			z-index: 1;
		}
	}

	>.wp-block-gallery {

		gap: 0 !important; // overwrite wordpress default gallery gap

		&:not(.has-child-selected) {

			.wp-block-image-wrapper {

				&:not(:first-child) {
					display: none !important;
				}
			}
		}

		&.has-child-selected {

			.wp-block-image {

				&:not(.is-selected) {
					display: none !important;
				}
			}
		}

		>.wp-block-image-wrapper {
			padding: 0;
			width: 100%;
		}
	}
}
