@use "../../ui/mixins/mixins" as *;

.wp-block-gallery.has-nested-images
figure.wp-block-image:has(figcaption)::before {
	content: none;
}

.wp-block-gallery.has-nested-images figure.wp-block-image figcaption {
	background: unset;
	overflow: unset;
	scrollbar-color: unset;
	scrollbar-gutter: unset;
	scrollbar-width: unset;
	text-align: unset;
	text-shadow: unset;
	will-change: unset;
	color: unset;
}

.wp-block-gallery.has-nested-images figure.wp-block-image img {
	width: unset;
}

.wp-block-gallery.has-nested-images.is-cropped figure.wp-block-image:not(#individual-image) img {
	width: auto;
}

// End WP CSS reset
div.wp-block-gallery-container {
	max-width: var(--wide-max-width);
	// padding: 0 var(--Spacing-10x);
	position: relative;
	display: flex;
	justify-content: center;

	figure.wp-block-gallery {
		width: 100%;
		height: fit-content;
		display: flex;
		justify-content: center;
		margin-bottom: 0;

		&.has-nested-images figure.wp-block-image:not(#individual-image) {
			padding: 0;

			> div {
				aspect-ratio: 3 / 2;
			}

			img {
				aspect-ratio: 3 / 2;
				object-fit: contain;
			}

			figcaption {
				position: relative;
				font-size: var(--P-Body-Text-Small);
				background-color: var(--FAU-Col-FAU-Weiss-100);
				bottom: var(--Spacing-12x);
				margin-bottom: calc(-1 * var(--Spacing-12x));
				left: 50%;
				padding: var(--Spacing-6x) 4.6875rem var(--Spacing-6x) var(--Spacing-8x);
				overflow-wrap: break-word;
				white-space: pre-wrap;

				.is-style-dark & {
					background-color: var(--FAU-Col-FAU-Blau-100);
				}
			}

			.image-fullscreen-btn {
				right: 0;
			}
		}

		figure.wp-block-image {
			max-width: var(--base-max-width);
		}
	}
}

.gallery-nav-container {
	max-width: var(--wide-max-width);
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: space-between;
}

.gallery-nav-button {
	position: relative;
	width: var(--accessible-target-size);
	height: var(--accessible-target-size);
	border: none;
	color: transparent;
	background-color: var(--FAU-Col-FAU-Blau-100);
	cursor: pointer;

	.is-style-dark & {
		background-color: var(--FAU-Col-FAU-Weiss-100);
	}

	&.prev {

		&::after {
			right: 0.85rem;
			transform: rotate(180deg);
		}

		&:hover,
		&:focus-visible {

			&::after {
				transition: var(--basic-animation);
				right: 1.15rem;
			}
		}
	}

	&.next {

		&::after {
			left: 1rem;
		}

		&:hover,
		&:focus-visible {

			&::after {
				transition: var(--basic-animation);
				left: 1.3rem;
			}
		}
	}

	&::after {
		content: "";
		position: absolute;
		background-image: var(--icon-arrow-weiss);
		background-repeat: no-repeat;
		width: 0.9375rem;
		height: 0.6875rem;
		top: 1rem;
		z-index: 1;
		transition: var(--basic-animation);

		.is-style-dark & {
			background-image: var(--icon-arrow-fau-blau);
		}
	}
}

.gallery-slider {
	display: flex;
	justify-content: center;
}

.wp-block-gallery .gallery-slider figure.wp-block-image {
	max-width: var(--base-max-width);
}

@include smaller-or-equals("x-small") {

	.wp-block-gallery-container {
		padding: 0;
	}
}
