.wp-block-fau-elemental-featured-event-teaser {
    display: flex;
    overflow: hidden;
    min-height: 400px;

    .featured-event-content {
        display: flex;
        width: 100%;

        .content-left {
            flex: 1 1 auto;
            max-width: 45%;
        }

        .content-right {
            flex: 1 1 auto;
            max-width: 55%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            .event-date {
                text-align: center;
                z-index: 2;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #0f1b4c;
                padding: 0.5rem;

                .date-day {
                    color: #fff;
                    font-size: 2rem;
                    font-weight: 700;
                    line-height: 1;
                    padding: 0rem 1rem;
                }

                .date-month-year {
                    color: #fff;
                    font-size: 1rem;
                    font-weight: 500;
                }
            }

            &:has(.featured-event-image) {
                .event-date {
                    position: absolute;
                    top: 0rem;
                    right: 0rem;

                    .date-month-year {
                        color: #fff;
                    }
                }
            }

            &:not(:has(.featured-event-image)) {
                background-color: #0f1b4c;

                .event-date {
                    .date-day {
                        color: #fff;
                        font-size: 4rem;
                        padding: 0rem 1.5rem;
                    }

                    .date-month-year {
                        color: #fff;
                        font-size: 1.5rem;
                        font-weight: 600;
                    }
                }
            }

            .featured-event-image {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
} 