@use "../../ui/mixins/mixins" as *;

.pattern-big-teaser {

	.fau-big-teaser {
		margin-top: 0;
		padding-top: var(--Spacing-6x);

		@include smaller-or-equals("x-small") {
			padding-top: var(--Spacing-4x);
		}
	}
}
