/**
 * Core Code Block Styles
 */

.wp-block-code {
	font-family: "Source Code Pro", monospace;
	overflow-x: auto;
	white-space: pre;
	max-width: var(--small-max-width);
	margin: 0 auto;
	background-color: var(--FAU-Col-FAU-Dunkelblau-12_5);
	color: var(--FAU-Col-FAU-Schwarz-100);
	padding: var(--Spacing-6x) var(--Spacing-5x) !important;

	// Ensure proper scrollbar appearance across browsers
	&::-webkit-scrollbar {
		height: 8px;
	}

	&::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	&::-webkit-scrollbar-thumb {
		background: #888;
		border-radius: 10px;

		&:hover {
			background: #555;
		}
	}

	code {
		display: block;
		white-space: pre;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
	}

	// Dark mode
	.is-style-dark &,
	&.is-style-dark {
		background-color: var(--FAU-Col-FAU-Dunkelblau-100);
		color: var(--FAU-Col-FAU-Schwarz-5);
	}
}
