/**
 * Editor-specific styles for the copyright info block
 * This file is required by the build process
 */

.copyright-info-placeholder {
	padding: var(--Spacing-4x);
	background-color: var(--FAU-Col-FAU-Schwarz-5);
	border: 1px dashed var(--FAU-Col-FAU-Dunkelblau-25);

	h3 {
		margin-top: 0;
		margin-bottom: var(--Spacing-2x);
	}

	.description {
		margin: 0;
		color: var(--FAU-Col-FAU-Dunkelblau-50);
	}
}
