.wp-block-fau-elemental-copyright-info {

	.copyright-info-label {
		display: block;
		color: var(--FAU-Col-FAU-Weiss-100);
		padding-top: var(--Spacing-4x);
		font-weight: 400;
		font-size: 1.1rem;
		line-height: var(--base-line-height);
	}

	.copyright-info-list {
		display: inline-flex;
		flex-wrap: wrap;
		gap: 0 var(--Spacing-6x);
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			font-size: var(--P-Caption);
			color: var(--FAU-Col-FAU-Schwarz-12_5);
			position: relative;
			counter-increment: copyright-counter;

			&::before {
				content: "©";
				margin-right: var(--Spacing-1x);
				color: var(--FAU-Col-FAU-Schwarz-12_5);
				font-weight: 400;
			}

			&::after {
				content: counter(copyright-counter);
				position: absolute;
				top: calc(50% - 0.7rem);
				right: -0.7rem;
				font-size: 0.6rem;
				line-height: var(--base-line-height);
				color: var(--FAU-Col-FAU-Schwarz-12_5);
			}

			&:first-child {
				counter-reset: copyright-counter;
			}
		}
	}
}
