.wp-block-fau-elemental-copyright-info {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1rem;

	.copyright-info-label {
		color: var(--FAU-Col-FAU-Weiss-100);
		margin-right: var(--Spacing-3x);
		font-weight: 500;
	}

	p.copyright-info-list {
		display: inline-flex;
		flex-wrap: wrap;
		gap: var(--Spacing-6x);
		align-items: baseline;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin-bottom: 0;
			color: var(--FAU-Col-FAU-Weiss-100);
			position: relative;
			counter-increment: copyright-counter;
			list-style: none;

			&::before {
				content: "©";
				margin-right: var(--Spacing-1x);
				color: var(--FAU-Col-FAU-Weiss-100);
				font-weight: 500;
			}

			&::after {
				content: counter(copyright-counter);
				position: absolute;
				top: -0.5em;
				right: -0.75em;
				font-size: 0.75em;
				line-height: 1;
				color: var(--FAU-Col-FAU-Weiss-100);
			}

			&:first-child {
				counter-reset: copyright-counter;
			}
		}
	}
}
