.wp-block-fau-elemental-copyright-info {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1rem;

	.copyright-info-label {
		display: block;
		color: var(--FAU-Col-FAU-Weiss-100);
		margin: 0;
		padding: var(--Spacing-3x) 0;
		font-weight: 400;
		line-height: var(--base-line-height);
		font-size: var(--P-Body-Text-Small);
	}

	.copyright-info-list {
		display: inline-flex;
		flex-wrap: wrap;
		gap: 0 var(--Spacing-6x);
		align-items: baseline;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin-bottom: 0;
			font-weight: 400;
			font-size: var(--P-Caption);
			color: var(--FAU-Col-FAU-Schwarz-12_5);
			padding: var(--Spacing-1x) 0;
			position: relative;
			counter-increment: copyright-counter;

			&::before {
				content: "©";
				margin-right: var(--Spacing-1x);
				color: var(--FAU-Col-FAU-Schwarz-12_5);
				font-weight: 400;
			}

			&::after {
				content: counter(copyright-counter);
				position: absolute;
				right: -1em;
				font-size: 0.75em;
				line-height: var(--base-line-height);
				color: var(--FAU-Col-FAU-Schwarz-12_5);
			}

			&:first-child {
				counter-reset: copyright-counter;
			}
		}
	}

	a {
		color: var(--FAU-Col-FAU-Weiss-100);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
