/**
 * Editor Styles
 */

/* Theme */
@use "../theme" as *;

/* Core Blocks */
@use "../../core-blocks/details/editor" as *;
@use "../../core-blocks/gallery/editor" as *;
@use "../../core-blocks/image/editor" as *;
@use "../../core-blocks/file/editor" as *;
@use "../../core-blocks/verse/editor" as *;
@use "../../core-blocks/spacer/editor" as *;

/* Patterns */
@use "../../patterns/hero-fau/editor" as *;
@use "../../patterns/hero-portal/editor" as *;

/* Plugin Editor Styles */
@use "../plugins/rrze-calendar-editor" as *;

html :where(.editor-styles-wrapper) {
	font-family: var(--font-family-base);
}

.edit-post-visual-editor__post-title-wrapper {
	margin: var(--Spacing-10x) 0;

	.wp-block-post-title {
		max-width: var(--small-max-width);
		margin: 0 auto;
	}
}

.wp-block-file__content-wrapper > .wp-block-file > .wp-block-file {
	margin-bottom: var(--Spacing-4x);
}

/* Fix metabox in Gutenberg */
.components-panel__body .fau-portal-menu-settings {
	padding: 16px;
	border: 1px solid #e0e0e0;
	margin-bottom: 16px;
}

.fau-portal-menu-template-not-active {
	display: none;
}

.fau-portal-menu-settings select {
	box-sizing: border-box;
}

.fau-portal-template-notice {
	margin: 10px 0;
	padding: 10px;
	background-color: #f0f7fb;
	border-left: 4px solid #2271b1;
}

