/**
 * Editor Styles
 */

/* Theme */
@use "../mixins/mixins" as *;
@use "../theme" as *;

/* Core Blocks */
@use "../../core-blocks/details/editor" as *;
@use "../../core-blocks/gallery/editor" as *;
@use "../../core-blocks/image/editor" as *;
@use "../../core-blocks/file/editor" as *;
@use "../../core-blocks/spacer/editor" as *;
@use "../../core-blocks/group/editor" as *;

/* Patterns */
@use "../../patterns/hero-fau/editor" as *;
@use "../../patterns/hero-portal/editor" as *;
@use "../../patterns/hero-chair-cooperation/editor" as *;
@use "../../patterns/hero-faculty-other/editor" as *;

html :where(.editor-styles-wrapper) {
	font-family: var(--font-family-base);
}

.edit-post-visual-editor__post-title-wrapper {
	margin: var(--Spacing-10x) 0;

	.wp-block-post-title {
		max-width: var(--small-max-width);
		margin: 0 auto;
	}
}

.wp-block-file__content-wrapper > .wp-block-file > .wp-block-file {
	margin-bottom: var(--Spacing-4x);
}

/* Fix metabox in Gutenberg */
.components-panel__body .fau-portal-menu-settings {
	padding: 16px;
	border: 1px solid #e0e0e0;
	margin-bottom: 16px;
}

.fau-portal-menu-template-not-active {
	display: none;
}

.fau-portal-menu-settings select {
	box-sizing: border-box;
}

.fau-portal-template-notice {
	margin: 10px 0;
	padding: 10px;
	background-color: #f0f7fb;
	border-left: 4px solid #2271b1;
}

:where(.editor-styles-wrapper) {

	.is-root-container {

		// > * {
		// 	max-width: var(--small-max-width);
		// 	margin-block-start: var(--Spacing-6x);
		// 	margin-inline: auto;
		// 	padding-inline: var(--Spacing-10x);

		// 	&:first-child {
		// 		margin-block-start: 0;
		// 	}

		// 	@include smaller-or-equals("x-small") {
		// 		padding-inline: var(--Spacing-5x);
		// 	}
		// }

		.block-editor-default-block-appender {
			max-width: var(--small-max-width);

			p {
				padding: 0;
			}
		}
	}

	.mce-content-body {

		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p,
		blockquote,
		table,
		dl,
		ul,
		ol,
		address,
		pre {
			margin-left: auto;
			margin-right: auto;
		}

		blockquote {
			padding: 0;
			border-left: 0;
			box-shadow: unset;
		}
	}
}
