/**
 * Core Paragraph Block - Editor Wrapper Styles - Hide Editor Features
 */

// When a paragraph block is selected, hide the following:
.faue-is-paragraph-block-selected {

	// Hide stuff in the Block Toolbar
	.block-editor-block-toolbar > .components-toolbar-group {

		// Hide Text Align Options
		&:nth-last-child(3) {
			display: none;
		}
	}

	// Hide the empty Typography-Panel in the Block Inspector
	.block-editor-block-inspector .typography-block-support-panel {
		display: none;
	}
}

// When a paragraph block with the "Intro Text" variation is selected, hide the following:
.faue-is-intro-text-selected {

	// Hide stuff in the Block Toolbar
	.block-editor-block-toolbar > .components-toolbar-group {

		// Hide Font Controls
		&:nth-last-child(2) {

			// Hide Bold options
			button:nth-child(1),
			// Hide Italic option
			button:nth-child(2) {
				display: none;
			}
		}
	}
}
