<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"},"padding":{"top":"0","bottom":"0","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<main
  class="wp-block-group"
  style="
    margin-top: var(--wp--preset--spacing--50);
    margin-bottom: var(--wp--preset--spacing--50);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: var(--wp--preset--spacing--40);
    padding-right: var(--wp--preset--spacing--40);
  "
>
  <!-- wp:group {"className":"post-header","align":"wide","layout":{"type":"constrained"}} -->
  <div class="wp-block-group alignwide post-header">
    <div class="post-header-content">
      <!-- wp:group {"className":"post-meta-top","layout":{"type":"flex","flexWrap":"nowrap"}} -->
      <div class="wp-block-group post-meta-top">
        <!-- wp:post-date /-->
        
        <!-- wp:paragraph {"className":"post-categories-separator"} -->
        <p class="post-categories-separator">–</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:post-terms {"term":"category","className":"post-categories","separator":", "} /-->
      </div>
      <!-- /wp:group -->
      
      <!-- wp:post-title {"level":1,"align":"wide"} /-->
      
      <!-- wp:group {"className":"post-meta","layout":{"type":"flex","flexWrap":"nowrap"}} -->
      <div class="wp-block-group post-meta">
        <!-- wp:paragraph {"className":"reading-time post-reading-time"} -->
        <p>
          Lesedauer: 
        </p>
        <!-- /wp:paragraph -->
        <!-- wp:paragraph {"className":"reading-time post-reading-time"} -->
        <p class="reading-time post-reading-time "><!-- READING_TIME --></p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph {"className":"listen-link post-listen-link"} -->
        <p class="listen-link post-listen-link"><a href="#">Beitrag anhören: <!-- LISTEN_DURATION --> min. abspielen</a></p>
        <!-- /wp:paragraph -->
      </div>
      <!-- /wp:group -->
    </div>
    
    <!-- wp:image {"className":"wp-block-image is-style-large"} -->
    <figure class="wp-block-image is-style-large">
      <!-- wp:post-featured-image {"sizeSlug":"large","className":"wp-post-image"} /-->
   
    </figure>
    <!-- /wp:image -->
  </div>
  <!-- /wp:group -->

  <!-- wp:post-content {"align":"wide","layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
