// Spacing and Sizing Variables
:root {
	// Spacing Sizes
	--Spacing-05x: 0.125rem;
	--Spacing-1x: 0.25rem;
	--Spacing-2x: 0.5rem;
	--Spacing-3x: 0.75rem;
	--Spacing-4x: 1rem;
	--Spacing-5x: 1.25rem;
	--Spacing-6x: 1.5rem;
	--Spacing-8x: 2rem;
	--Spacing-10x: 2.5rem;
	--Spacing-12x: 3rem;
	--Spacing-14x: 3.5rem;
	--Spacing-16x: 4rem;
	--Spacing-20x: 5rem;
	--Spacing-24x: 6rem;
	--Spacing-30x: 7.5rem;

	// Layout Widths
	--wide-max-width: 1320px;
	--base-max-width: 1094px;
	--small-max-width: 870px;
}
