@use "../../ui/mixins/mixins" as *;

/**
 * Editor-specific styles for the meta headline block
 * This file is required by the build process
 */

// Editor styles are already defined in style.scss

.fau-meta-headline-level-icon {
	font-weight: 600;
	padding: var(--Spacing-2x);
}

// Ensure active state is visible in dropdown menu
.components-button.components-dropdown-menu__menu-item.is-active,
.components-button.components-dropdown-menu__menu-item.is-pressed {

	.fau-meta-headline-level-icon {
		color: var(--FAU-Col-FAU-Weiss-100);
		background-color: var(--FAU-Col-FAU-Schwarz-100);
		font-weight: 700;
	}
}


// Responsive
@include smaller-than("medium") {

	.is-root-container .wp-block-fau-elemental-fau-meta-headline {
		margin-left: 10rem !important; // Necessary to override WP style that already uses !important

		&::before {
			left: calc(-100vh - 1rem);
		}
	}
}

@media screen and (max-width: 499px) {

	.is-root-container .wp-block-fau-elemental-fau-meta-headline {
		margin-left: 6rem !important; // Necessary to override WP style that already uses !important
	}
}

@include smaller-than("x-small") {

	.is-root-container .wp-block-fau-elemental-fau-meta-headline {
		padding: var(--Spacing-6x) 0;
		margin-left: 3rem !important; // Necessary to override WP style that already uses !important
	}
}
