@use "../../ui/mixins/mixins" as *;

.wp-block-fau-elemental-fau-meta-headline {
	position: relative;
	max-width: var(--base-max-width);
	margin: 0 auto;
	padding: var(--Spacing-4x) 0;
	font-size: 1rem;
	line-height: var(--base-line-height);
	font-weight: 600;
	color: var(--FAU-Col-FAU-Dunkelblau-100);
	letter-spacing: var(--letter-spacing-big);

	&::before {
		content: "";
		position: absolute;
		width: 100vh;
		height: 0.125rem;
		top: calc(50% - 0.125rem);
		left: calc(-100vh - 1.5rem);
		background-color: var(--FAU-Col-FAU-Blau-100);
	}
}

// Dark Mode
.is-style-dark {

	.wp-block-fau-elemental-fau-meta-headline {
		color: var(--FAU-Col-FAU-Weiss-100);

		&::before {
			background-color: var(--FAU-Col-FAU-Weiss-100);
		}
	}
}

// Responsive
@include smaller-than("medium") {

	main .wp-block-fau-elemental-fau-meta-headline {
		margin-left: 10rem !important; // Necessary to override WP style that already uses !important

		&::before {
			left: calc(-100vh - 1rem);
		}
	}
}

@media screen and (max-width: 499px) {

	main .wp-block-fau-elemental-fau-meta-headline {
		margin-left: 6rem !important; // Necessary to override WP style that already uses !important
	}
}

@include smaller-than("x-small") {

	main .wp-block-fau-elemental-fau-meta-headline {
		margin-left: 3rem !important; // Necessary to override WP style that already uses !important
	}
}
