@use "../../ui/mixins/mixins" as *;

.fau-logo-grid {

	max-width: var(--wide-max-width);

	.wp-block-post-content > & {
		margin-inline: var(--faue_wide-max-width_bleed_minimal_inline-margin);
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: var(--Spacing-8x);
		align-items: stretch;
	}

	&__item {
		padding: var(--Spacing-6x);
		display: flex;
		justify-content: center;
		align-items: center;
		background: #f5f5f5;
		transition: var(--basic-animation);
		aspect-ratio: 16/9;
		border: none;
		min-width: -webkit-fill-available; // fix for Safari

		// Only apply hover effect when there's a link
		&--has-link {
			overflow: hidden; // For hover zoom effect

			&:hover {
				transform: scale(1.03);
			}
		}
	}

	&__link {
		display: flex;
		width: 100%;
		height: 100%;
		text-decoration: none;
		justify-content: center;
		align-items: center;
		color: inherit;
	}

	&__image {
		max-width: 100%;
		max-height: 100%;
		height: 100%;
		object-fit: contain;
		width: auto;
	}
}


// Tablet and smaller (max-width: 1440px)
@include smaller-or-equals("medium") {

	.fau-logo-grid {

		&__container {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

// Mobile and smaller (max-width: 768px)
@include smaller-or-equals("small") {

	.fau-logo-grid {

		&__container {
			grid-template-columns: repeat(2, 1fr);
		}

		&__item {
			padding: var(--Spacing-4x);
		}
	}
}
// Mobile and smaller (max-width: 768px)
@include smaller-or-equals("x-small") {

	.fau-logo-grid {

		&__item {
			padding: var(--Spacing-3x);
		}
	}
}
