/**
 * Breadcrumbs Styles
 */

@import "../../mixins";

.breadcrumbs {
	max-width: var(--wide-max-width);
	padding: var(--Spacing-4x) var(--Spacing-10x);

	&__list {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding-left: 21px; // Compensate for home icon
		gap: var(--Spacing-2x);
	}

	&__item {
		position: relative;
		color: var(--FAU-Col-FAU-Blau-100);
		font-size: 0.75rem;
		font-weight: 700;

		// Start icon
		&:first-child::before {
			content: "";
			position: absolute;
			background-image: var(--icon-home-fau-blau);
			background-repeat: no-repeat;
			width: 14px;
			height: 16px;
			left: -21px;
			top: -1px;
		}

		// Seperators
		&:not(:last-child)::after {
			content: "/";
			margin-left: var(--Spacing-2x);
			color: var(--FAU-Col-FAU-Blau-100);
		}

		&--mobile {
			display: none; // Hide mobile item on desktop
		}

		&--desktop {
			display: flex;
		}
	}

	&__link {
		text-decoration: none;
		font-weight: inherit;

		&:hover,
		&:focus-visible {
			text-decoration: underline;
			text-underline-offset: var(--Spacing-1x);
			text-decoration-thickness: var(--Spacing-05x);
		}
	}

	&__current {
		color: var(--FAU-Col-FAU-Dunkelblau-100);
	}

	// Chevron for mobile item
	&__chevron {
		background-image: var(--icon-chevron-fau-blau);
		background-repeat: no-repeat;
		width: 8px;
		height: 15px;
		margin-right: var(--Spacing-3x);
		transform: rotate(180deg);
	}
}

// Responsive
@include respond-to("small") {

	.breadcrumbs {

		&__list {
			padding-left: unset;
		}

		&__item {

			&--mobile {
				display: flex; // Show mobile item
			}

			&--desktop {
				display: none; // Hide all other items
			}

			&:not(:last-child)::after {
				display: none;
			}
		}
	}
}

@include respond-to("x-small") {

	.breadcrumbs {
		padding: var(--Spacing-3x) var(--Spacing-5x);
	}
}

// Faculty colors
@each $faculty, $color in (
	"phil": var(--FAU-Col-Phil-Gelb-100),
	"nat": var(--FAU-Col-Nat-Gruen-100),
    "med": var(--FAU-Col-Med-Blau-100),
    "rw": var(--FAU-Col-RW-Rot-100),
    "tf": var(--FAU-Col-TF-Metallic-100)
) {
	.fauorg-fakultaet.faculty-#{$faculty} .breadcrumbs {
		background-color: $color;
	}
}

// Dark mode and rw faculty
.is-style-dark,
.fauorg-fakultaet.faculty-rw {

	.breadcrumbs {

		&__item,
		&__item:not(:last-child)::after,
		&__link {
			color: var(--FAU-Col-FAU-Schwarz-12_5);
		}

		&__current {
			color: var(--FAU-Col-FAU-Weiss-100);
		}

		&__item:first-child::before {
			background-image: var(--icon-home-weiss);
		}

		.breadcrumbs__chevron {
			background-image: var(--icon-chevron-weiss);
		}
	}
}
