@use "../../ui/mixins/mixins" as *;

.wp-block-buttons {
	max-width: var(--small-max-width);
	box-sizing: content-box;

	.is-layout-flow & {
		padding: 0 var(--Spacing-10x);

		@include smaller-or-equals("x-small") {
			padding: 0 var(--Spacing-5x);
		}
	}
}
