@use "../../ui/mixins/mixins" as *;

.wp-block-buttons {
	max-width: var(--small-max-width);
	box-sizing: content-box;

	.is-layout-flow {

		@include respond-to("x-small") {
			padding: 0 var(--Spacing-5x);
		}
	}
}
