.editor-styles-wrapper .hero-portal {

	gap: var(--Spacing-10x) !important; // override WP CSS

	.wp-block-post-title {
		margin: var(--Spacing-10x) 0 0 0 !important; // override WP CSS
		min-width: calc(100% + 5.5rem) !important; // override WP inline CSS
	}

	.wp-block {

		.hideParagraph {
			display: none;
		}

		.wp-block-cover {
			min-height: 430px;
		}
	}

	> div:last-child {
		width: 100%; // force img container to full width
	}
}

@media screen and (max-width: 999px) {

	.editor-styles-wrapper .hero-portal .wp-block {
		margin-left: auto !important; // override WP inline

		.wp-block-button {
			margin-left: 0 !important;
		}
	}
}
