/**
 * Core Heading Block Styles
 */

h2 {
    font-size: var(--H-Heading-2);
}

h3 {
    font-size: var(--H-Heading-3);
}

h4 {
    font-size: var(--H-Heading-4);
}

h5 {
    font-size: var(--H-Heading-5);
}

h6 {
    font-size: var(--H-Heading-6);
}