details.wp-block-details {
    margin: 0;
    border-bottom: 1px solid var(--FAU-Col-FAU-Blau-100);
    padding-bottom: 20px;
    padding-top: 20px;

    &:first-child {
        border-top: 1px solid var(--FAU-Col-FAU-Blau-100);
    }

    summary {
        outline: none; // Hide default arrow
        list-style: none; // Hide default arrow
        position: relative;
        font-size: var(--H-Heading-4);
        font-weight: 700;
        color: var(--FAU-Col-FAU-Blau-100);
        padding-right: 80px;

        &::-webkit-details-marker {
            display: none; // Hide default arrow
        }


        // Chevron
        &::before {
            content: '';
            position: absolute;
            background-image: var(--icon-chevron-weiss);
            background-repeat: no-repeat;
            transform: rotate(90deg);
            z-index: 1;
            height: 15px;
            width: 9px;
            right: 15px;
            top: 8px;
            transition: var(--basic-animation);
        }

        // Box for chevron
        &::after {
            content: '';
            position: absolute;
            background-color: var(--FAU-Col-FAU-Blau-100);
            height: 40px;
            width: 40px;
            right: 0;
            top: -5px;
        }

        &:hover,
        &:focus-visible {
            &::before {
                top: 12px;
                transition: var(--basic-animation);
            }
        }

        // Faculty color variations
        @each $faculty, $color in (
            "phil": var(--FAU-Col-Phil-Gelb-100),
            "nat": var(--FAU-Col-Nat-Gruen-100),
            "med": var(--FAU-Col-Med-Blau-100),
            "rw": var(--FAU-Col-RW-Rot-100),
            "tf": var(--FAU-Col-TF-Metallic-100)
        ) {
            .faculty-#{$faculty} &::after {
                background-color: $color;
            }

            .faculty-#{$faculty} &::before {
                background-image: var(--icon-chevron-fau-blau);
            }
        }

        .fauorg-fakultaet.faculty-rw &::before {
			background-image: var(--icon-chevron-weiss);
		}
    }

    p {
        padding-right: 80px;
    }

    // Flip chevron when active
    &[open] {
        summary {
            &::before {
                transform: rotate(-90deg);
            }
        }
    }
}

// Dark mode
.is-style-dark {
    details.wp-block-details {
        border-bottom: 1px solid var(--FAU-Col-FAU-Weiss-100);
    
        &:first-child {
            border-top: 1px solid var(--FAU-Col-FAU-Weiss-100);
        }
    
        summary {
            color: var(--FAU-Col-FAU-Weiss-100);
    
            &::before {
                background-image: var(--icon-chevron-fau-blau);
            }
    
            &::after {
                background-color: var(--FAU-Col-FAU-Weiss-100);
            }
        }
    }
}