/**
 * Core Text Styles
 */

h2 {
    font-size: var(--H-Heading-2);
}

h3 {
    font-size: var(--H-Heading-3);
}

h4 {
    font-size: var(--H-Heading-4);
}

h5 {
    font-size: var(--H-Heading-5);
}

h6 {
    font-size: var(--H-Heading-6);
}

p {
    font-size: var(--P-Body-Text);
}

p.intro-text {
    font-size: var(--P-Intro-Text);
}

p.small-text {
    font-size: var(--P-Body-Text-Small);
}

.list-icons ul {
    list-style-type: none;
    padding-left: 0;
}

.list-icons ul li {
    position: relative;
    padding-left: 24px;
}

.list-icons ul li::before {
    content: '✔'; /* You can replace this with an actual icon */
    position: absolute;
    left: 0;
    color: var(--FAU-Col-FAU-Dunkelblau-100); /* Adjust color if needed */
}

.dark {
    h2, h3, h4, h5, h6, p {
        color: var(--FAU-Col-FAU-Weiss-100);
    }
}

