@use "../../ui/mixins/mixins" as *;

.wp-block-image-wrapper {

	&:has(> .is-style-large) {
		max-width: var(--base-max-width);

		.is-root-container > & {
			margin-inline: var(--faue_base-max-width_bleed_inline-margin);

			@include smaller-than("xs") {
				margin-inline: var(--faue_fullbleed_inline-margin);
			}
		}
	}
}
