@use "../../ui/mixins/mixins" as *;

div.wp-block-image-wrapper {

	&:has(> .is-style-large) {
		max-width: var(--base-max-width);
	}

	@include smaller-or-equals("x-small") {

		>:has(.is-style-large) {
			padding: 0;
		}
	}

	> .wp-block-image {
		padding: 0;
	}
}

