/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-fau-elemental-fau-button {
	display: flex;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
	height: 46px;

	.button-text {
		display: flex;
		align-items: center;
		height: 100%;
		border: 1px solid var(--wp--custom--color--fau-base-dark-100);
		border-right: none;
		padding: 0px 16px;
		background-color: var(--wp--custom--color--fau-base-dark-100);
		color: var(--wp--custom--color--white-100);
		font-size: 16px;
		font-weight: 600;
	}

	.button-arrow {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 46px;
		border: 1px solid var(--wp--custom--primary--arrow-background);
		background-color: var(--wp--custom--primary--arrow-background);
		color: var(--wp--custom--primary--arrow-text);
		font-size: 24px;
	}

	&:hover {
		opacity: 0.9;
	}

	// Secondary button style
	&.is-style-secondary {	
		.button-text {	
			border: 1px solid var(--wp--custom--color--fau-base-100);
			border-right: none;
			background-color: transparent;
			color: var(--wp--custom--color--fau-base-100);
		}

		.button-arrow {
			border-color: var(--wp--custom--secondary--arrow-background);
			background-color: var(--wp--custom--secondary--arrow-background);
			color: var(--wp--custom--secondary--arrow-text);
		}
	}

	// Tertiary button style
	&.is-style-tertiary {
		height: auto;

		.button-text {
			border: none;
			margin-right: 8px;
			padding: 0;
			background-color: transparent;
			color: var(--wp--custom--color--fau-base-100);

			&:hover {
				text-decoration: underline;
			}
		}

		.button-arrow {
			border: none;
			background-color: transparent;
			height: auto;
			width: auto;
			color: var(--wp--custom--color--fau-base-100);
		}
	}
}
