/**
 * Core Group Block Styles
 */

.wp-block-group {

	&.is-style-dark {
		background-color: var(--FAU-Col-FAU-Blau-100);
		color: var(--FAU-Col-FAU-Weiss-100);
		padding: var(--Spacing-8x) 0;
	}

	> * {
		margin-block-start: var(--Spacing-6x);
		margin-block-end: 0;
		margin-left: auto;
		margin-right: auto;
	}
}
