/**
 * Core Group Block Styles
 */

.wp-block-group {

	max-width: none;

	&.is-style-dark {
		background-color: var(--FAU-Col-FAU-Blau-100);
		color: var(--FAU-Col-FAU-Weiss-100);
		padding-block: var(--Spacing-8x);
	}

	> * {
		max-width: var(--small-max-width);
		margin-block-start: var(--Spacing-6x);
		margin-inline: auto;

		&:first-child {
			margin-block-start: 0;
		}
	}
}
