/**
 * Core Group Block Styles
 */

.wp-block-group {
	max-width: var(--wide-max-width);

	&.is-style-dark {
		background-color: var(--FAU-Col-FAU-Blau-100);
		color: var(--FAU-Col-FAU-Weiss-100);
	}
}
