@use "../../ui/mixins/mixins" as *;

.site-header {

	&__top {
		background-color: var(--FAU-Col-FAU-Dunkelblau-100);

		.fau-navigation {
			position: relative;
			z-index: 999;
			display: flex;
			justify-content: flex-end;
			color: var(--FAU-Col-FAU-Weiss-100);
			max-width: var(--wide-max-width);
			margin: 0 auto;

			.fau-nav-modals {
				display: flex;
				align-items: center;
			}

			&__fau-link {
				display: flex;
				align-items: center;
				color: var(--FAU-Col-FAU-Weiss-100);
				text-decoration: none;
				gap: 0.5rem;
			}

			&__back-icon {
				display: flex;
			}

			&__menu {
				display: flex;
				list-style: none;
				margin: 0;
				padding: 0;
				gap: 1rem;
			}

			&__button {
				background: none;
				border: none;
				color: var(--FAU-Col-FAU-Weiss-100);
				padding: 1.1rem 0.6rem;
				cursor: pointer;
				display: flex;
				align-items: center;
				gap: 0.5rem;
				font-size: 0.875rem;
				line-height: 1.5;
				font-family: var(--font-family-base);
				letter-spacing: var(--letter-spacing-small);

				&:hover {
					background-color: var(--FAU-Col-FAU-Weiss-100);
					color: var(--FAU-Col-FAU-Blau-100);
				}
			}

			&__icon {
				display: flex;
				align-items: center;
			}

			&__language-switcher-icon {
				display: inline-block;
				width: 9px;
				height: 14px;
				background-image: var(--icon-chevron-weiss);
				background-repeat: no-repeat;
				transform: rotate(90deg);
			}

			&__search-icon {
				display: inline-block;
				width: 16px;
				height: 16px;
				background-image: var(--icon-search);
				background-repeat: no-repeat;

			}

			&__structure-icon {
				display: inline-block;
				width: 14px;
				height: 14px;
				background-image: var(--icon-structure);
				background-repeat: no-repeat;
			}

			&__services-icon {
				display: inline-block;
				width: 16px;
				height: 16px;
				background-image: var(--icon-services);
				background-repeat: no-repeat;
			}
		}
	}

	&__main {
		background-color: var(--FAU-Col-FAU-Blau-100);
		max-width: var(--wide-max-width);
		margin: 0 auto;
		padding: 1.6rem var(--Spacing-10x);


		// Faculty specific styles
		@each $faculty, $color in (
			"phil": var(--FAU-Col-Phil-Gelb-100),
			"nat": var(--FAU-Col-Nat-Gruen-100),
			"med": var(--FAU-Col-Med-Blau-100),
			"rw": var(--FAU-Col-RW-Rot-100),
			"tf": var(--FAU-Col-TF-Metallic-100)
		) {
			.fauorg-fakultaet.faculty-#{$faculty} & {
				background-color: $color;

				.main-navigation__logo .text {
					color: var(--FAU-Col-FAU-Blau-100);
				}
			}

			.fauorg-fakultaet.faculty-#{rw} & {

				.main-navigation__logo .text {
					color: var(--FAU-Col-FAU-Weiss-100);
				}
			}
		}
	}
}

.main-navigation {
	background-color: var(--FAU-Col-FAU-Blau-100);

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 3.7rem;
	}

	&__direct-links {

		margin-left: auto;

		ul {
			display: flex;
			flex-direction: row;
			gap: 3.7rem;
			list-style: none;
			padding-left: unset;

			li {

				a {
					color: var(--FAU-Col-FAU-Weiss-100);
					text-decoration: none;
					letter-spacing: var(--letter-spacing-small);

					&::after {
						content: "";
						position: absolute;
						width: 9px;
						height: 14px;
						top: 4px;
						right: -20px;
						background-image: var(--icon-chevron-weiss);
						background-repeat: no-repeat;
					}
				}
			}
		}
	}

	&__menu-container {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 0.0625rem;
			height: 1.5rem;
			background-color: var(--FAU-Col-FAU-Blau-62_5);
			left: -1rem;
		}
	}

	&__logo {
		display: flex;
		align-items: center;
		max-width: 380px;

		a {
			text-decoration: none;

			.textlogo {
				display: flex;
				align-items: flex-start;
				gap: var(--Spacing-3x);

				.text {
					position: relative;
					top: -4px;
					font-size: 0.875rem;
					color: var(--FAU-Col-FAU-Weiss-100);
					line-height: 1.3;
					font-weight: 500;
					letter-spacing: var(--letter-spacing-small);
				}
			}
		}
	}

	&__site-title {
		margin: 0;
		font-size: 1.5rem;
		font-weight: 600;
		color: var(--color-text);
		line-height: 1.2;
	}

	&__short-title {
		font-size: 0.875rem;
		color: var(--color-text-secondary);
		display: none;
		margin: 0;
		line-height: 1.2;
	}

	&__tagline {
		font-size: 0.875rem;
		color: var(--color-text-secondary);
	}

	&__toggle {
		display: flex;
		align-items: center;
		gap: var(--Spacing-2x);
		background: none;
		border: none;
		cursor: pointer;
		font-family: var(--font-family-base);
		letter-spacing: var(--letter-spacing-small);

		&-text {
			color: var(--FAU-Col-FAU-Weiss-100);
			font-size: 1rem;
			font-weight: 700;
			letter-spacing: var(--letter-spacing-small);
		}

		&-icon {
			display: flex;
			flex-direction: column;
			width: 18px;
			gap: 3px;
			transition: var(--basic-animation);

			> span {
				display: block;
				height: 2px;
				background-color: var(--FAU-Col-FAU-Weiss-100);
			}
		}

		&:hover,
		&:focus-visible {

			.main-navigation__toggle-icon {
				gap: 5px;
				transition: var(--basic-animation);
			}
		}
	}
}

// Modal menu

// Prevent scrolling when menu is active
body.modal-open {
	overflow: hidden;
}

.menu-modal,
.menu-meta-nav__modal,
.menu-website-modal {
	display: none;

	&__container {
		background: var(--FAU-Col-FAU-Weiss-100);
		min-width: 540px;
		padding-top: 60px;
		margin-bottom: 56px;
		box-shadow: 0 0 34px 0 rgba(4, 49, 106, 0.58);
		overflow-y: scroll;
	}

	&__close-btn {
		margin-left: auto;
	}

	&__close-btn,
	&__back-btn,
	.menu-meta-nav__modal__close-btn,
	.menu-meta-nav__modal__back-btn {
		display: flex;
		align-items: center;
		gap: 0.6rem;
		background: none;
		border: none;
		padding: 0;
		cursor: pointer;
		font-family: var(--font-family-base);
		font-size: 1rem;
		color: var(--FAU-Col-FAU-Blau-100);
		font-weight: 600;
		letter-spacing: var(--letter-spacing-small);

		.menu-website-modal__close-icon,
		.menu-meta-nav__modal__close-icon {
			display: inline-block;
			width: 10px;
			height: 10px;
			background-image: var(--icon-close);
			background-repeat: no-repeat;
		}

		.menu-website-modal__back-icon,
		.menu-meta-nav__modal__back-icon {
			display: inline-block;
			width: 10px;
			height: 14px;
			background-image: var(--icon-chevron-fau-blau);
			background-repeat: no-repeat;
			transform: rotate(180deg);
			margin-bottom: 2px;
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		padding: 0 20px;
	}

	ul {
		list-style: none;
		padding: 0;
	}

	&__menu,
	.menu-meta-nav__menu {
		margin-top: 1rem;

		li {
			border-bottom: 1px solid var(--FAU-Col-FAU-Blau-25);

			a {
				display: inline-block;
				width: 100%;
				text-decoration: none;
				font-size: 1.125rem;
				font-weight: 700;
				letter-spacing: var(--letter-spacing-small);
				padding: 1rem 20px 1rem 20px;
				box-sizing: border-box;


				&:hover,
				&:focus-visible {
					background-color: var(--FAU-Col-FAU-Blau-25);
				}

				&.active {
					background-color: var(--FAU-Col-FAU-Blau-100);
					color: var(--FAU-Col-FAU-Weiss-100);
				}
			}
		}

		> li:first-child {
			border-top: 1px solid var(--FAU-Col-FAU-Blau-25);
		}

		.sub-menu {

			li {

				&:last-child {
					border-bottom: none;
				}
			}
		}

		.menu-modal__level-heading {
			font-size: 1.125rem;
			font-weight: 700;
			letter-spacing: var(--letter-spacing-small);
			background-color: var(--FAU-Col-FAU-Dunkelblau-12_5);
			margin: 0;
			padding: 1.125rem var(--Spacing-5x) 1.125rem var(--Spacing-5x);
			position: relative;
		}
	}

	&__menu--header-primary-menu {
		margin-bottom: 3.5rem;
	}

	&__menu--header-menu-links {

		li {
			border: none;

			a {
				font-weight: 600;
			}

			&:first-child {
				border: none;
			}
		}
	}

	&__submenu-toggle {
		background: none;
		border: none;
		width: 100%;
		display: flex;
		align-items: center;
		padding: 1rem 20px;
		cursor: pointer;
		transition: var(--basic-animation);

		.menu-modal__item-title {
			padding-right: 0.5rem;
		}

		> span:first-child {
			display: inline-block;
			font-family: var(--font-family-base);
			font-size: 1.125rem;
			color: var(--FAU-Col-FAU-Blau-100);
			font-weight: 700;
			letter-spacing: var(--letter-spacing-small);
			width: 100%;
			text-align: left;
		}

		> span:last-child {
			display: inline-block;
			width: 10px;
			height: 14px;
			background-image: var(--icon-chevron-fau-blau);
			background-repeat: no-repeat;
		}

		&:hover,
		&:focus-visible {
			background-color: var(--FAU-Col-FAU-Blau-25);
		}
	}

	&.is-open {
		display: flex;
		position: fixed;
		top: 56px;
		right: 0;
		width: auto;
		height: 100%;
		z-index: 998;
	}

	.menu-website-modal__language-switcher {
		display: none;
	}
}

// Responsive
@media screen and (min-width: 1920px) {

	.site-header__top .fau-navigation {
		max-width: 1794px;
	}

	.menu-modal,
	.menu-meta-nav__modal,
	.menu-website-modal {

		&__container {
			min-width: 780px;
		}
	}
}

@include respond-to("medium") {

	.menu-modal,
	.menu-meta-nav__modal,
	.menu-website-modal {

		&__container {
			min-width: 500px;
		}
	}
}

@include respond-to("small") {

	.menu-modal,
	.menu-meta-nav__modal,
	.menu-website-modal {

		&__container {
			min-width: 440px;
		}
	}
}

@media screen and (max-width: 599px) {

	.menu-modal,
	.menu-meta-nav__modal,
	.menu-website-modal {

		&__container {
			min-width: unset;
			width: 100%;
			padding-top: 0;
			margin-bottom: 111px;
		}

		&__header {
			position: fixed;
			bottom: 56px;
			width: 100%;
			padding: 1rem 1.5rem;
			box-sizing: border-box;
			background-color: var(--FAU-Col-FAU-Dunkelblau-12_5);
		}

		&__menu {
			margin-top: 0;
		}

		&__menu,
		.menu-meta-nav__menu {

			> li:first-child {
				border-top: none;
			}
		}

		&.is-open {
			width: 100%;
			top: 0;
		}
	}

	.site-header {

		&__top {

			.fau-navigation {

				.fau-nav-modals {
					display: none;
					justify-content: center;
					gap: 1rem;
					position: fixed;
					bottom: 0;
					width: 100%;
					background-color: var(--FAU-Col-FAU-Blau-100);

					button {
						justify-content: center;
						width: 100%;
					}

					// Only show nav modals when burger is clicked
					.modal-open & {
						display: flex;
					}
				}

				.language-switcher {
					display: none;
				}
			}
		}
	}
}

@include respond-to("x-small") {

	.site-header {

		&__top {

			.fau-navigation {

				.fau-nav-modals {
					gap: unset;
				}
			}
		}
	}
}
